<div>

  <app-config-filter [ngModel]="filter" name="filter"
                     (ngModelChange)="onFilterChange($event)"
  ></app-config-filter>

  <div class="line ui-widget">
    <span class="column-filter">
      <span>
        Columns:
      </span>
      <span>
        <p-multiSelect [options]="columnOptions"
                       [(ngModel)]="columns">
        </p-multiSelect>
      </span>
    </span>
    <span class="count">
      {{ configCount }} configs found
    </span>
  </div>

  <app-config-list [filter]="filter"
                   [columns]="columns"
                   (configsChange)="onConfigsChange($event)"
  ></app-config-list>
</div>
