@import '../res/style/common';

.service:not([hidden]) {
  display: block;
  margin: .3em;
  padding: .2em;


  >.header {
    display: flex;
    align-items: center;
    margin: .2em;

    >* {
      flex: 1 1 auto;
    }
    .name {
      font-weight: bolder;
    }
    .id {
      font-family: monospace;
      text-align: right;
    }
  }
  >.status:not([hidden]) {
    @extend .status-labels-table
  }
}
