<span class="column" [ngSwitch]="column" *ngIf="secret != null">

  <span class="created date" *ngSwitchCase="secretColumns.CREATED_AT">
    {{secret.CreatedAt | date:'medium' }}
  </span>
  <span class="updated date" *ngSwitchCase="secretColumns.UPDATED_AT">
    {{secret.UpdatedAt | date:'medium' }}
  </span>
  <span class="updated date" *ngSwitchCase="secretColumns.ID">
    <app-unique-id [id]="secret.ID"
                   type="secret"
    ></app-unique-id>
  </span>

  <span class="updated date" *ngSwitchCase="secretColumns.NAME">
    {{secret.Spec.Name }}
  </span>

  <span *ngSwitchDefault>
      {{secret[columnData.field]}}
  </span>
</span>
