<div class="container-spec label-table vertical" *ngIf="spec != null">

  <div class="row">
    <label>Args</label>
    <app-editable-field [ngModel]="spec.Args"
                        (ngModelChange)="onArgsChange($event)"
                        (rollback)="onArgsRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="argsDiffer()"
                        name="args" class="args" #argsField>
      <span input>
        <p-chips pInputText [(ngModel)]="argsField.value"
                 styleClass="vertical"
                 name="args-input"></p-chips>
      </span>
      <span output>
        <div *ngFor="let argsValue of argsField.value">{{argsValue}}</div>
        <span *ngIf="argsField.value == null">None</span>
      </span>
    </app-editable-field>
  </div>

  <div class="row">
    <label>env</label>
    <app-editable-field [ngModel]="envLines"
                        (ngModelChange)="onEnvChange($event)"
                        (rollback)="onEnvRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="envDiffer()"
                        name="env" class="env" #envField>
      <span input>
        <textarea [rows]="5" [cols]="60" pInputTextarea
                  class="list-input"
                  autoResize="true"
                  name="env-input"
                  [(ngModel)]="envField.value"></textarea>
      </span>
      <span output>
        <div *ngFor="let envValue of spec.Env">{{envValue}}</div>
        <span *ngIf="envField.value == null">None</span>
      </span>
    </app-editable-field>
  </div>

  <div class="row">
    <label>Image</label>
    <app-editable-field [ngModel]="spec.Image"
                        (ngModelChange)="onImageChange($event)"
                        (rollback)="onImageRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="imageDiffer()"
                        name="image" class="image" #imageField>
      <span input>
        <input pInputText [(ngModel)]="imageField.value"
               name="image-input">
      </span>
      <span output>
        <span *ngIf="spec.Image == null">None</span>
        <app-docker-image-label [label]="spec.Image"></app-docker-image-label>
      </span>
    </app-editable-field>
    <span>
    </span>
  </div>

  <div class="row">
    <label>Labels</label>
    <app-editable-field [ngModel]="specLabels"
                        (ngModelChange)="onLabelsChange($event)"
                        (rollback)="onLabelsRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="labelsDiffer()"
                        name="labels" class="labels" #labelsField>
      <span input>
        <textarea [rows]="5" [cols]="60" pInputTextarea
                  class="list-input"
                  autoResize="true"
                  name="labels-input"
                  [(ngModel)]="labelsField.value"></textarea>
      </span>
      <span output>
        <span *ngIf="spec.Labels == null">None</span>
        <app-labels [labels]="spec.Labels">
        </app-labels>
      </span>
    </app-editable-field>
  </div>

  <div class="row">
    <label>Mounts</label>
    <app-editable-field [ngModel]="mountsSpecs"
                        (ngModelChange)="onMountsChange($event)"
                        (rollback)="onMountsRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="mountsDiffer()"
                        name="mounts" class="mounts" #mountsField>
      <span input>
        <textarea [rows]="5" [cols]="60" pInputTextarea
                  class="list-input"
                  autoResize="true"
                  name="mounts-input"
                  [(ngModel)]="mountsField.value"></textarea>
      </span>
      <span output>
        <span *ngIf="mountsField.value == null">None</span>
        <div *ngFor="let mount of spec.Mounts" class="mounts">
          <app-mount-spec [mountSpec]="mount"
          ></app-mount-spec>
        </div>
      </span>
    </app-editable-field>
  </div>

  <div class="row">
    <label>Secrets</label>
    <app-editable-field [ngModel]="secretSpecs"
                        (ngModelChange)="onSecretsChange($event)"
                        (rollback)="onSecretsRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="secretsDiffer()"
                        name="secrets" class="secrets" #secretsField>
      <span input>
        <textarea [rows]="5" [cols]="60" pInputTextarea
                  class="list-input"
                  autoResize="true"
                  name="secrets-input"
                  [(ngModel)]="secretsField.value"></textarea>
      </span>
      <span output>
        <span *ngIf="secretsField.value?.length === 0">None</span>
        <div *ngFor="let secret of spec.Secrets" class="secrets">
          <app-unique-id [id]="secret.SecretName"
                         type="secret"
                         [noTrim]="true"
          ></app-unique-id>
          <span>:</span>
          <span>{{secret.File.Name}}</span>
        </div>
      </span>
    </app-editable-field>
  </div>

  <div class="row">
    <label>Configs</label>
    <app-editable-field [ngModel]="configSpecs"
                        (ngModelChange)="onConfigsChange($event)"
                        (rollback)="onConfigsRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="configsDiffer()"
                        name="configs" class="configs" #configsField>
      <span input>
        <div>
          <textarea [rows]="5" [cols]="60" pInputTextarea
                    class="list-input"
                    autoResize="true"
                    name="configs-input"
                    [(ngModel)]="configsField.value"></textarea>
        </div>
      </span>
      <span output>
        <span *ngIf="configsField.value?.length === 0">None</span>
        <div *ngFor="let config of spec.Configs" class="configs">
          <app-unique-id [id]="config.ConfigName"
                         type="config"
                         [noTrim]="true"
          ></app-unique-id>
          <span>:</span>
          <span>{{config.File.Name}}</span>
        </div>
      </span>
    </app-editable-field>
  </div>

  <div class="row">
    <label>User</label>
    <app-editable-field [ngModel]="spec.User"
                        (ngModelChange)="onUserChange($event)"
                        (rollback)="onUserRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="userDiffer()"
                        name="user" class="user" #userField>
      <span input>
        <input pInputText [(ngModel)]="userField.value"
               name="user-input">
      </span>
      <span output>
        <span *ngIf="userField.value == null">None</span>
        <span>{{userField.value}}</span>
      </span>
    </app-editable-field>
  </div>


  <div class="row">
    <label>Groups</label>
    <app-editable-field [ngModel]="spec.Groups"
                        (ngModelChange)="onGroupsChange($event)"
                        (rollback)="onGroupsRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="groupsDiffer()"
                        name="groups" class="groups" #groupsField>
      <span input>
        <p-chips [(ngModel)]="groupsField.value"
                 name="groups-input"></p-chips>
      </span>
      <span output>
        <span *ngIf="groupsField.value == null || groupsField.value.length === 0">None</span>
        <span *ngFor="let group of groupsField.value">{{group}}</span>
      </span>
    </app-editable-field>
  </div>


  <div class="row">
    <label>Dir</label>
    <app-editable-field [ngModel]="spec.Dir"
                        (ngModelChange)="onDirChange($event)"
                        (rollback)="onDirRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="dirDiffer()"
                        name="dir" class="dir" #dirField>
       <span input>
        <input pInputText [(ngModel)]="dirField.value"
               name="dir-input">
      </span>
      <span output>
        <span *ngIf="dirField.value == null">None</span>
        <span>{{dirField.value}}</span>
      </span>
    </app-editable-field>
  </div>


  <div class="row">
    <label>StopSignal</label>
    <app-editable-field [ngModel]="spec.StopSignal"
                        (ngModelChange)="onStopSignalChange($event)"
                        (rollback)="onStopSignalRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="stopSignalDiffer()"
                        name="stopSignal" class="stopSignal" #stopSignalField>
       <span input>
        <input pInputText [(ngModel)]="stopSignalField.value"
               name="stopSignal-input">
      </span>
      <span output>
        <span *ngIf="stopSignalField.value == null">None</span>
        <span>{{stopSignalField.value}}</span>
      </span>
    </app-editable-field>
  </div>


  <div class="row" *ngIf="spec.StopGracePeriod != null  || editable">
    <label>StopGracePeriod</label>
    <app-editable-field [ngModel]="spec.StopGracePeriod / 1000000000"
                        (ngModelChange)="onStopGracePeriodSecondChange($event)"
                        (rollback)="onStopGracePeriodRollback()"
                        (touched)="onTouched()"
                        [rollbackVisible]="true"
                        [editable]="editable"
                        [class.changed]="stopGracePeriodDiffer()"
                        name="stopGracePeriod" class="stopGracePeriod" #stopGracePeriodField>
      <span input>
       <p-spinner [(ngModel)]="stopGracePeriodField.value"
                  name="stopGracePeriod-input"
                  [min]="0" [size]="4"
       ></p-spinner> s
      </span>
      <span output>
        <span *ngIf="stopGracePeriodField.value == null || stopGracePeriodField.value <= 0">None</span>
        <span *ngIf="stopGracePeriodField.value > 0">{{ stopGracePeriodField.value | number:'.0-2'}} s</span>
      </span>
    </app-editable-field>
  </div>


  <div class="row" *ngIf="spec.Healthcheck != null || editable">
    <label>Healthcheck</label>
    <app-healthcheck-config [ngModel]="spec.Healthcheck"
                            (ngModelChange)="onHealthCheckChange($event)"
                            [rollbackConfig]="originalSpec.Healthcheck"
                            (rollback)="onHealthCheckRollback()"
                            (touched)="onTouched()"
                            name="healthCheck-input"
                            [editable]="editable"
    ></app-healthcheck-config>
  </div>
</div>
