.container-info {
  .flags {
    >*:not([hidden]) {
      display: inline-block;
      font-size: .9em;
      margin: 0 .5em;
      &:not(.active) {
        opacity: .3;
      }
    }
  }

  .netoworks {
    .config {
      font-size: .9em;
    }
  }
  .long.path {
    display: inline-block;
    max-width: 12em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: rtl;
  }

  .log {
    max-width: 25em;
  }

  .log-line {
    display: inline-flex;
    align-items: center;
    width: 100%;

    > * {
      flex: 0 1 auto;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: .9em;
      margin: .2em;

      &.time, &.code {
        font-size: .9em;
      }
      &.code {
        font-weight: bold;
      }
      &.output {
        flex: 1 1 10em;
      }
    }

  }
}
