.menubar {
  width: 100%;
  display: flex;
  background-color: black;
  color: yellow;
  font-size: 1.2em;

  > * {
    flex: 1 1 auto;
  }
  > .group-right, > .group-left {
    display: flex;
    align-items: center;

    > * {
      flex: 0 0 auto;
      margin: .2em;
      padding: .2em;
    }
  }
  > .group-left {
    justify-content: flex-start;
  }
  > .group-right {
    justify-content: flex-end;
  }
  .h-separator {
    display: inline-block;
    width: 2em;
  }

  .action:not([hidden]) {
    &:not(.disabled) {
      &:hover {
        background-color: rgba(255, 255, 255, .4);
        cursor: pointer;
        transform: scale(1.2);
      }
      &.active {
        background-color: yellow;
        color: black;
      }
    }
    &.disabled {
      opacity: .7;
      cursor: default;
      pointer-events: none;
    }
  }

  .icon-link:not([hidden]) {
    font-size: 1.1em;

  }

  a:not([hiden]) {
    color: yellow;
    text-decoration: none;
  }

  p-overlayPanel {
    position: absolute;

    .ui-overlaypanel {
      //position: absolute;
      top: 2em !important;
      //right: 0;
    }
  }
}
