<div class="task-list ui-widget">

  <app-task-filter [ngModel]="filter" name="filter"
                   (ngModelChange)="onFilterChange($event)"></app-task-filter>

  <div class="columns-filter">
    Columns:
    <p-multiSelect [options]="columnOptions"
                   [(ngModel)]="columns">
    </p-multiSelect>
    <span style="float: right" [hidden]="(tasks | async) == null">
      {{ (tasks|async)?.length }} tasks returned
    </span>
  </div>

  <p-dataTable [value]="tasks | async">
    <p-column *ngFor="let column of columns"
              [sortable]="true"
              [sortField]="getColumnField(column)"
              [header]="getColumnLabel(column)">
      <template let-col let-task="rowData" let-rowIndex="rowIndex" pTemplate="body">
        <app-docker-task-column [task]="task"
                                [column]="column"
        ></app-docker-task-column>
      </template>
    </p-column>
  </p-dataTable>
</div>
