<div class="task-list ui-widget">

  <p-dataTable [value]="tasks | async"
               [responsive]="true">
    <p-column *ngFor="let column of columns"
              [sortable]="true"
              [sortField]="getColumnField(column)"
              [header]="getColumnLabel(column)">
      <template let-col let-task="rowData" let-rowIndex="rowIndex" pTemplate="body">
        <app-docker-task-column [task]="task"
                                [column]="column"
        ></app-docker-task-column>
      </template>
    </p-column>
  </p-dataTable>
</div>
