<form class="filter ui-wdiget">
  <span>
    <label>Id</label>
    <p-chips name="id"
             [ngModel]="ids"
             (ngModelChange)="onIdChange($event)">
    </p-chips>
  </span>

  <span>
    <label>Name</label>
    <p-chips name="name"
             [ngModel]="names"
             (ngModelChange)="onNamesChange($event)">
    </p-chips>
  </span>

  <span>
    <label>Labels</label>
    <p-chips name="labels"
             [ngModel]="labels"
             (ngModelChange)="onLabelsChange($event)">
    </p-chips>
  </span>
  <span>
    <label>State</label>
     <p-selectButton name="stopped1"
                     [ngModel]="includeStopped"
                     (ngModelChange)="onIncludeStoppedChange($event)"
                     [options]="includeStoppedOptions"
     ></p-selectButton>
  </span>
  <span>
    <label>Tasks</label>
    <p-selectButton name="is-task"
                    [ngModel]="isTask"
                    (ngModelChange)="onIsTaskChange($event)"
                    [options]="isTaskOptions"
    ></p-selectButton>
  </span>
</form>
