<div class="container-details ui-widget" *ngIf="container != null">

  <header>
    <h1>
      {{ container.Name }}
    </h1>
    <div class="info label-table">
      <span class="row">
            <label>Id</label>
            <span>
              <app-unique-id [id]="container.Id"
                             [noTrim]="true"
                             [routerLink]="['/docker/containers', container.Id]"
              ></app-unique-id>
            </span>
          </span>

      <span class="row">
            <label>Image</label>
            <span>
              <app-unique-id [id]="container.Image"
                             [noTrim]="true"
                             [routerLink]="['/docker/images', container.Id]"
              ></app-unique-id>
            </span>
          </span>

      <span class="row">
            <label>Created</label>
            <span>
              {{ container.Created | date:'dd/MM/yy HH:mm' }}
            </span>
          </span>
    </div>
  </header>

  <p-tabView [lazy]="true"
             (onChange)="onTabChange($event)">
    <p-tabPanel header="Inspect" [selected]="activeTab == 0">
      <app-container-inspect-info [container]="container"
      ></app-container-inspect-info>
    </p-tabPanel>

    <p-tabPanel header="Logs" [selected]="activeTab == 1">
      <app-container-logs [containerId]="container.Id"
                          [tty]="container.Config.Tty"
      ></app-container-logs>
    </p-tabPanel>
  </p-tabView>
</div>
