<span class="port-bindings" *ngIf="ports != null">
  <div *ngIf="!editable">
    <span class="port-mapping" *ngFor="let port of ports">
      <span class="type">
        {{port.Protocol}}
      </span>
      <span class="host">
        {{ port.PublishedPort}}
      </span>
      <span class="target">
        :{{port.TargetPort}}
      </span>
      <span class="mode">
        ({{port.PublishMode}})
      </span>
    </span>
    <span *ngIf="ports?.length === 0">
      None
    </span>
  </div>
  <div *ngIf="editable">
    <p-chips [ngModel]="portStrings"
             styleClass="vertical"
             (ngModelChange)="onPortsChanged($event)"
    ></p-chips>
  </div>
</span>
