<div class="service-details ui-widget" *ngIf="service != null">

  <header>
    <h1>
      {{ service.spec.Name }}
    </h1>
    <app-update-status [updateStatus]="service.updateStatus"
    ></app-update-status>
  </header>

  <p-tabView>
    <p-tabPanel header="Status">
      <app-service-status [service]="service"
      ></app-service-status>
    </p-tabPanel>

    <p-tabPanel header="Current spec">
      <div class="actions">
        <button pButton type="button" [disabled]="isUpdating()"
                label="Update" class="apply-button"
                (click)="onUpdateClicked()"></button>
        <button pButton type="button" [disabled]="!specTouched"
                label="Revert" class="cancel-button"
                (click)="onRevertClicked()"></button>
      </div>

      <app-service-spec [(ngModel)]="editingSpec" name="spec"
                        [editable]="true"
                        (touched)="onSpecTouched()"
      ></app-service-spec>
    </p-tabPanel>

    <p-tabPanel header="Previous spec">
      <div class="actions">
        <button pButton type="button" [disabled]="isUpdating()"
                label="Rollback" class="apply-button"
                (click)="onRollbackClicked()"></button>
      </div>

      <app-service-spec [ngModel]="previousSpec" name="spec"
                        [editable]="false"
                        [highlightDiffTo]="originalSpec"
      ></app-service-spec>
    </p-tabPanel>

  </p-tabView>

</div>
