<div class="service-details ui-widget" *ngIf="service != null">

  <header>
    <h1>
      {{ service.spec.name }}
    </h1>
    <div class="info label-table">
      <span class="row">
        <label>Id</label>
        <span>
          <app-unique-id [id]="service.id"
                         [noTrim]="true"
                         [routerLink]="['/docker/services', service.id]"
          ></app-unique-id>
        </span>
      </span>
      <span class="col row">
        <label>Created</label>
        <span>{{service.createdAt | date:'dd/MM/yyyy hh:mm' }}</span>
      </span>
      <span class="col row">
        <label>Updated</label>
        <span>{{service.updatedAt | date:'dd/MM/yyyy hh:mm'}}</span>
      </span>
    </div>
  </header>

  <div class="label-table vertical">
    <div class="table-bloc" *ngIf="service.updateStatus != null">
      <div class="title">Update status</div>
      <span class="row">
          <label>Started at</label>
          <span>{{service.updateStatus?.StartedAt | date:'dd/MM/yyyy hh:mm'}}</span>
        </span>
      <span class="row" [hidden]="service.updateStatus?.CompletedAt == null">
          <label>Completed at</label>
          <span>{{service.updateStatus.CompletedAt | date:'dd/MM/yyyy hh:mm'}}</span>
        </span>
      <span class="row" [hidden]="service.updateStatus?.State == null">
          <label>State</label>
          <span>{{service.updateStatus.State}}</span>
        </span>
      <span class="row" [hidden]="service.updateStatus?.Message == null">
          <label>Message</label>
          <span>{{service.updateStatus.Message}}</span>
        </span>
    </div>
  </div>

  <p-tabView>
    <p-tabPanel header="Current spec">
      <app-service-spec [ngModel]="service.spec" name="spec"
                        [editable]="true"
      ></app-service-spec>
    </p-tabPanel>

    <p-tabPanel header="Previous spec">
      <!--<app-service-spec [ngModel]="service.previousSpec" name="spec"-->
                        <!--[editable]="false"-->
      <!--&gt;</app-service-spec>-->
    </p-tabPanel>

    <p-tabPanel header="Tasks">
      <div class="task-filter label-table">
        <span class="row">
          <label>Deisred state</label>
          <span>
            <app-task-filter-state [desired]="true"
                                   [ngModel]="taskFilter.desiredState"
                                   (ngModelChange)="onTaskFilterDesiredStateChange($event)"
            ></app-task-filter-state>
          </span>
        </span>
      </div>
      <app-docker-task-list [filter]="taskFilter"
                            [columns]="taskColumns"
      ></app-docker-task-list>
    </p-tabPanel>
  </p-tabView>

</div>
