.service-details {

  header {
    text-align: center;

    > .info {
      text-align: left;

    }

    .status {
      .row {
        margin: 0;
        > span {
          font-size: .9em;
        }
      }
    }

  }

}
