<div class="service-details ui-widget" *ngIf="service != null">

  <header>
    <h1>
      {{ service.spec.Name }}
    </h1>
  </header>


  <p-tabView>
    <p-tabPanel header="Status">
      <app-service-status [service]="service"
      ></app-service-status>
    </p-tabPanel>

    <p-tabPanel header="Current spec">
      <app-service-spec [ngModel]="service.spec" name="spec"
                        (ngModelChange)="onSpecChanged($event)"
                        [editable]="true"
      ></app-service-spec>
    </p-tabPanel>

    <p-tabPanel header="Previous spec">
      <app-service-spec [ngModel]="service.previousSpec" name="spec"
                        [editable]="false"
      ></app-service-spec>
    </p-tabPanel>

    <p-tabPanel header="Tasks">
      <div class="task-filter label-table">
        <span class="row">
          <label>Deisred state</label>
          <span>
            <app-task-filter-state [desired]="true"
                                   [ngModel]="taskFilter.desiredState"
                                   (ngModelChange)="onTaskFilterDesiredStateChange($event)"
            ></app-task-filter-state>
          </span>
        </span>
      </div>
      <app-docker-task-list [filter]="taskFilter"
                            [columns]="taskColumns"
      ></app-docker-task-list>
    </p-tabPanel>
  </p-tabView>

</div>
