<form class="filter ui-wdiget">
  <span>
    <label>Id</label>
    <p-chips name="id"
             [ngModel]="ids"
             (ngModelChange)="onIdChange($event)">
    </p-chips>
  </span>

  <span>
    <label>Name</label>
    <p-chips name="name"
             [ngModel]="names"
             (ngModelChange)="onNamesChange($event)">
    </p-chips>
  </span>

  <span>
    <label>Labels</label>
    <p-chips name="labels"
             [ngModel]="labels"
             (ngModelChange)="onLabelsChange($event)">
    </p-chips>
  </span>

  <span *ngIf="stacks?.length > 0 && stack == null">
    <label>Stack</label>
    <p-dropdown name="stacks"
                [ngModel]="stack"
                (ngModelChange)="onStackChange($event)"
                [options]="stackOptions"
    ></p-dropdown>
  </span>
</form>
