<form class="ui-widget">
  <div class="row">
    <label>ServiceMode</label>
    <p-selectButton [ngModel]="optionsMode"
                    (ngModelChange)="onOptionsModeChange($event)"
                    [options]="optionsModes"
                    name="optionsMode"
    ></p-selectButton>
    <p-toggleButton [(ngModel)]="tlsEnabled" name="tls"
                    onLabel="TLS" offLabel="noTLS"
    ></p-toggleButton>
  </div>
  <div class="row" [hidden]="!isModeSocket">
    <label>SocketPath</label>
    <input type="text" pInputText name="socket"
           [(ngModel)]="options.socketPath">
  </div>
  <div class="row" [hidden]="isModeSocket">
    <label>Url</label>
    <input type="text" pInputText
           [(ngModel)]="options.url"
           name="url">
  </div>

  <div class="row">
    <label>Timeout</label>
    <p-spinner [(ngModel)]="options.timeout"
               name="timeout"
               [min]="5000" [step]="100"
    ></p-spinner>
    ms
  </div>
  <div class="row">
    <label>Heartbeat
      <div [hidden]="options.heartbeatDelay > 0">(Inactive)</div>
    </label>
    <p-spinner [(ngModel)]="options.heartbeatDelay"
               name="heartbeat"
               [min]="0" [step]="100"
    ></p-spinner>
    ms
  </div>
  <div class="row">
    <label>API Version</label>
    <input pInputText [(ngModel)]="options.version"
           name="version">
  </div>

  <div class="row" [hidden]="!tlsEnabled">
    <label>Ca</label>
    <div class="row  wrap spacing">
      <textarea pInputTextarea [(ngModel)]="options.ca"
                name="ca"></textarea>
      <input type="file" name="caFile" hidden #caFileUpload
             (change)="onCaChange($event)">
      <button pButton type="button"
              label="Open"
              (click)="caFileUpload.click()"></button>
    </div>
  </div>
  <div class="row" [hidden]="!tlsEnabled">
    <label>Cert</label>
    <div class="row    wrap spacing">
      <textarea pInputTextarea [(ngModel)]="options.cert"
                name="cert"></textarea>
      <button pButton type="button"
              label="Open"
              (click)="certFileUpload.click()"></button>
      <input type="file" name="certFile" hidden #certFileUpload
             (change)="onCertChange($event)">
    </div>

  </div>
  <div class="row" [hidden]="!tlsEnabled">
    <label>Key</label>
    <div class="row  wrap spacing">
      <textarea pInputTextarea [(ngModel)]="options.key"
                name="key"></textarea>
      <button pButton type="button"
              label="Open"
              (click)="keyileUpload.click()"></button>
      <input type="file" name="keyFile" hidden #keyileUpload
             (change)="onKeyChange($event)">
    </div>

  </div>
  <div class="action-row">

    <button type="text" pButton
            label="Save"
            (click)="onSubmit()"
    ></button>

    <button type="text" pButton
            label="Cancel"
            (click)="onCancel()"
    ></button>

  </div>
</form>
