<form class="ui-widget" ngForm #optionsForm="ngForm">
  <div class="row">
    <label>Name</label>
    <span>
      <input pInputText required
             name="label-input"
             [(ngModel)]="options.label">
    </span>
  </div>
  <div class="row">
    <label>Mode</label>
    <p-selectButton [ngModel]="optionsMode"
                    (ngModelChange)="onOptionsModeChange($event)"
                    [options]="optionsModes"
                    name="optionsMode"
    ></p-selectButton>
  </div>
  <div class="row" [hidden]="!isModeSocket">
    <label>SocketPath</label>
    <input type="text" pInputText name="socket"
           [(ngModel)]="options.socketPath">
  </div>
  <div class="row" [hidden]="isModeSocket">
    <label>Url</label>
    <input type="text" pInputText
           [(ngModel)]="options.url"
           name="url">
  </div>

  <div class="row">
    <label>Heartbeat
      <div [hidden]="options.heartbeatDelay > 0">(Inactive)</div>
    </label>
    <p-spinner [(ngModel)]="options.heartbeatDelay"
               name="heartbeat"
               [min]="0" [step]="100"
    ></p-spinner>
    ms
  </div>
  <div class="row">
    <label>API Version</label>
    <input pInputText [(ngModel)]="options.version"
           name="version">
  </div>

  <div class="action-row">
    <button type="text" pButton
            label="Save"
            [disabled]="!optionsForm.valid"
            (click)="onSubmit()"
    ></button>

    <button type="text" pButton
            label="Cancel"
            (click)="onCancel()"
    ></button>

  </div>
</form>
