<div class="node-details ui-widget" *ngIf="node != null">
  <header>
    <h1>
      {{ node.Description.Hostname }}
    </h1>
    <div class="info label-table">
      <span class="col row">
        <label>Id</label>
        <span>
          <app-unique-id [id]="node.ID"
                         [routerLink]="['/docker/nodes', node.ID]"
                         [noTrim]="true"
          ></app-unique-id>
        </span>
      </span>
      <span class="col row">
        <label>Created</label>
        <span>{{node.CreatedAt | date:'dd/MM/yyyy hh:mm' }}</span>
      </span>
      <span class="col row">
        <label>Updated</label>
        <span>{{node.UpdatedAt | date:'dd/MM/yyyy hh:mm' }}</span>
      </span>

      <span class="row" *ngIf="node.ManagerStatus != null">
        <label>ManagerStatus</label>
        <span>
          <app-labels [labels]="node.ManagerStatus"
          ></app-labels>
        </span>
      </span>
      <span class="row" *ngIf="node.Status != null">
        <label>Status</label>
        <span>
          <app-labels [labels]="node.Status"
          ></app-labels>
        </span>
      </span>
    </div>
  </header>

  <p-tabView>
    <p-tabPanel header="Spec">
      <div class="label-table vertical">
        <span class="row">
          <label>Name</label>
          <span>{{node.Spec.Name}}</span>
        </span>

        <span class="row">
          <label>Labels</label>
          <app-labels [labels]="node.Spec.Labels"
          ></app-labels>
        </span>

        <span class="row">
          <label>Role</label>
          <span>{{node.Spec.Role}}</span>
        </span>

        <span class="row">
          <label>Availability</label>
          <span>{{node.Spec.Availability}}</span>
        </span>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Description">
      <div class="label-table vertical">
        <span class="row">
          <label>Hostname</label>
          <span>{{node.Description.Hostname}}</span>
        </span>

        <span class="row">
          <label>Platform</label>
          <app-labels [labels]="node.Description.Platform"
          ></app-labels>
        </span>

        <span class="row">
          <label>Resources</label>
          <span class="label-table vertical">
            <span class="row">
              <label>CPU</label>
              <span>{{node.Description.Resources.NanoCPUs}}</span>
            </span>
            <span class="row">
              <label>Memory</label>
              <span>{{node.Description.Resources.MemoryBytes}}</span>
            </span>
          </span>
        </span>

        <span class="row">
          <label>Engine</label>
          <span class="label-table vertical">
            <span class="row">
              <label>Version</label>
              <span>{{node.Description.Engine.EngineVersion}}</span>
            </span>
            <span class="row">
              <label>Labels</label>
              <app-labels [labels]="node.Description.Engine.Labels"
              ></app-labels>
            </span>

            <span class="row">
              <label>Plugins</label>
              <span>
                <div *ngFor="let plugin of node.Description.Engine.Plugins"
                     class="plugin">
                  <app-labels [labels]="plugin"
                              [short]="true"
                  ></app-labels>
                </div>
              </span>
            </span>
          </span>
        </span>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
