.column {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;

  > span {
    display: inline-block;
  }

  .port-mapping {
    margin: .3em;
    display: inline-block;

    .type {
      font-size: .8em;
      font-weight: 300;
    }
  }
  .labels {
    white-space: nowrap;
  }
  .mounts {
    white-space: nowrap;
    > * {
      display: inline-block;
    }
  }
  .command {
    display: inline-block;
    max-height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
