div.options {
  display: inline-block;
  > * {
    margin: .5em;
  }
  .client-panel {
    display: flex;
    align-items: center;
    > * {
      flex: 0 0 auto;
    }
    >label {
      flex: 1 1 auto;
    }
    button[hidden] {
      display: none;
    }
  }

  .options-header {
    display: flex;

    > * {
      flex: 1 1 auto;

      &.actions {
        text-align: right;
      }
    }

    [hidden] {
      display: none !important;
    }
  }
}
