div.options {
  display: inline-block;
  margin: 1em;

  > * {
    margin: .5em;
  }
  .client-panel {
    display: flex;
    align-items: center;
    > * {
      flex: 0 0 auto;
    }
    >label {
      flex: 1 1 auto;
    }
  }
}
