<div class="options ui-widget">
  <p-growl [(value)]="messages" [life]="800"></p-growl>

  <p-panel styleClass="config-panel" *ngIf="config != null">
    <p-header>
      <div class="ui-helper-clearfix options-header">
        <span class="ui-panel-title title">
          Config
        </span>
        <span>
           <p-dropdown [ngModel]="(configLabel | async)"
                       (ngModelChange)="activeOptionsChanged($event)"
                       [options]="configList | async"
                       [autoWidth]="false" [style]="{'width':'10em'}"
           ></p-dropdown>
        </span>
        <span class="actions">
          <button pButton type="button"
                  (click)="onNewOptionsClicked()"
                  label="New"></button>
          <button pButton type="button"
                  (click)="onRemoveOptionsClicked()"
                  [hidden]="configRemovable | async"
                  label="Delete"></button>
        </span>
      </div>
    </p-header>
    <app-docker-client-config-form [ngModel]="config | async"
                                   (ngModelChange)="onConfigEditChange($event)"
                                   (cancel)="onConfigEditCancel()"
    ></app-docker-client-config-form>
    <div class="active-config" *ngIf="hasconfigServer | async">
      <div class="row">
        <label>Server:</label>
        <span>{{ configServerName | async }}</span>
      </div>
      <div class="row">
        <label>Swarm mode:</label>
        <span>{{ configServerSwarmMode | async }}</span>
      </div>
      <div class="row">
        <label>Swarm control:</label>
        <span>{{ configServerSwarmControl | async }}</span>
      </div>
      <div class="row">
        <label>Swarm node:</label>
        <app-unique-id [id]="configServerSwarmNodeId | async"
                       [routerLink]="configServerSwarmNodeLink | async"
        ></app-unique-id>
      </div>
    </div>
  </p-panel>

</div>
