<div>

  <app-secret-filter [ngModel]="filter" name="filter"
                     (ngModelChange)="onFilterChange($event)"
  ></app-secret-filter>

  <div class="line ui-widget">
    <span class="column-filter">
      <span>
        Columns:
      </span>
      <span>
        <p-multiSelect [options]="columnOptions"
                       [(ngModel)]="columns">
        </p-multiSelect>
      </span>
    </span>
    <span class="count">
      {{ secretCount }} secrets found
    </span>
  </div>

  <app-secret-list [filter]="filter"
                   [columns]="columns"
                   (secretsChange)="onSecretsChange($event)"
  ></app-secret-list>
</div>
