<div class="container-list ui-widget">
  <app-container-filter name="filter"
                        [ngModel]="filter"
                        (ngModelChange)="onFilterChange($event)"
  ></app-container-filter>

  <div class="columns-filter">
    Columns:
    <p-multiSelect [options]="columnOptions" name="columns"
                   [(ngModel)]="columns">
    </p-multiSelect>
    <span style="float: right" [hidden]="(containers | async) == null">
      {{ (containers|async)?.length }} containers returned
    </span>
  </div>

  <p-dataTable [value]="containers | async"
               [responsive]="true">
    <p-column *ngFor="let column of columns"
              [sortable]="true"
              [sortField]="getColumnField(column)"
              [header]="getColumnLabel(column)">
      <ng-template let-col let-container="rowData" let-rowIndex="rowIndex" pTemplate="body">
        <app-container-column [column]="column"
                              [container]="container"
                              (containerChanged)="onContainerChange()"
        ></app-container-column>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
