<span class="column" [ngSwitch]="column" *ngIf="task != null">

  <span class="created date" *ngSwitchCase="taskColumn.CREATED_AT">
    {{task.createdAt | date:medium }}
  </span>
  <span class="updated date" *ngSwitchCase="taskColumn.UPDATED_AT">
    {{task.updatedAt | date:medium }}
  </span>
   <span class="state" *ngSwitchCase="taskColumn.STATE">
    {{task.status.State}}
  </span>
   <span class="message" *ngSwitchCase="taskColumn.MESSAGE">
    {{task.status.Message }} {{ task.status.Err}}
  </span>
  <span class="image" *ngSwitchCase="taskColumn.IMAGE">
    <app-docker-image-label [label]="task.spec.ContainerSpec.Image"></app-docker-image-label>
  </span>
  <span *ngSwitchCase="taskColumn.ID">
    <app-unique-id [id]="task.id" [routerLink]="['/tasks', task.id]"></app-unique-id>
  </span>
  <span *ngSwitchCase="taskColumn.SERVICE_ID">
    <app-unique-id [id]="task.serviceID" [routerLink]="['/services', task.serviceID]"></app-unique-id>
  </span>
   <span *ngSwitchCase="taskColumn.CONTAINER">
    <app-unique-id [id]="task.status.ContainerStatus.ContainerID"
                   [routerLink]="['/containers',task.status.ContainerStatus.ContainerID]"></app-unique-id>
  </span>
  <span *ngSwitchCase="taskColumn.NODE_ID">
    <app-unique-id [id]="task.nodeID" [routerLink]="['/containers',task.nodeID]"></app-unique-id>
  </span>
  <span *ngSwitchDefault>
      {{task[columnData.field]}}
  </span>
</span>
