<span class="column" [ngSwitch]="column" *ngIf="task != null">

  <span class="created date" *ngSwitchCase="taskColumn.CREATED_AT">
    {{task.createdAt | date:'medium' }}
  </span>
  <span class="updated date" *ngSwitchCase="taskColumn.UPDATED_AT">
    {{task.updatedAt | date:'medium' }}
  </span>
  <span class="state" *ngSwitchCase="taskColumn.DESIRED_STATE">
    <app-task-status-icon [task]="task"
    ></app-task-status-icon>
    {{task.desiredState}}
  </span>
   <span class="state" *ngSwitchCase="taskColumn.STATE">
    {{task.status.State}}
  </span>
   <span class="message" *ngSwitchCase="taskColumn.MESSAGE">
     <span class="error" [hidden]="task.status.Err == null">
       {{ task.status.Err}}
     </span>
     <span [hidden]="task.status.Err != null">
      {{task.status.Message }}
     </span>
  </span>
  <span class="image" *ngSwitchCase="taskColumn.IMAGE">
    <app-docker-image-label [label]="task.spec.ContainerSpec.Image"></app-docker-image-label>
  </span>
  <span *ngSwitchCase="taskColumn.ID">
    <app-unique-id [id]="task.id" [routerLink]="['/docker/tasks', task.id]"></app-unique-id>
  </span>
  <span *ngSwitchCase="taskColumn.SERVICE">
    <app-unique-id [id]="task.serviceName"
                   [trimWidthEm]="12"
                   [routerLink]="['/docker/services', task.serviceID]"></app-unique-id>
  </span>
   <span *ngSwitchCase="taskColumn.CONTAINER">
    <app-unique-id [id]="task.status.ContainerStatus.ContainerID"
                   [routerLink]="['/docker/containers',task.status.ContainerStatus.ContainerID]"></app-unique-id>
  </span>
  <span *ngSwitchCase="taskColumn.NODE">
    <app-unique-id [id]="task.nodeName"
                   [trimWidthEm]="12"
                   [routerLink]="['/docker/nodes',task.nodeID]"></app-unique-id>
  </span>
  <span *ngSwitchDefault>
      {{ task[columnData.field] }}
  </span>
</span>
