.spec {

  display: flex;
  align-items: flex-start;

  >.col {
   flex: 1 1 30em;
    .title {
      margin: 1em;
      font-weight: bold;
    }
  }

  .changed {
    color: blue;
  }


  .constraint {
    font-size: .9em;
  }

  .limits {
    .row {
      margin: 0;
    }
    .value {
      font-size: .9em;
    }
  }

  .restart-policy {
    .row {
      margin: 0;
    }
    .value {
      font-size: .9em;
    }
  }

  .env {
    font-size: .9em;
  }

  .mounts {
    .mount .type {
      font-size: .8em;
      margin-right: 1em;
    }
  }

}
