<div class="spec label-table" *ngIf="spec != null">
  <div class="col">
    <div class="table-bloc">
      <div class="row">
        <label>Name</label>
        <span>{{spec.name}}</span>
      </div>
      <div class="row">
        <label>Mode</label>
        <span>
      <app-service-mode [mode]="spec.mode.mode"></app-service-mode>
      <span [hidden]="spec.mode.replicas==null">{{spec.mode.replicas}} replicas</span>
    </span>
      </div>
      <div class="row">
        <label>Labels</label>
        <app-labels [labels]="spec.labels"></app-labels>
      </div>

      <div class="row">
        <label>Networks</label>
        <span class="networks label-table vertical">

          <span *ngFor="let network of spec.networks" class="network row">
            <label class="target">
              <app-unique-id [id]="network.Target"
                             [routerLink]="['/docker/networks', network.Target]"
              ></app-unique-id>
            </label>
            <span class="aliases">
              <div>
                <span *ngFor="let alias of network.Aliases" class="alias">
                  {{alias}}
                </span>
              </div>
            </span>
          </span>

        </span>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="table-bloc">
      <div class="title">
        Task template
      </div>
      <app-task-template [template]="spec.taskTemplate"
      ></app-task-template>
    </div>
  </div>
</div>
