<div class="secret-list ui-widget">

  <p-dataTable [value]="secrets | async">
    <p-column *ngFor="let column of columns"
              [sortable]="true"
              [sortField]="getColumnField(column)"
              [header]="getColumnLabel(column)">
      <template let-col let-secret="rowData" let-rowIndex="rowIndex" pTemplate="body">
        <app-secret-column [secret]="secret"
                           [column]="column"
        ></app-secret-column>
      </template>
    </p-column>
  </p-dataTable>
</div>
