<div class="task ui-widget">
  <div class="header">
    <span class="id">{{task.id}}</span>
    <span class="service-id">
      Service:
      <span class="id">{{task.serviceID}}</span>
      <span class="slot">{{ task.slot }}</span>
    </span>
  </div>
  <div class="status">
    <span class="created">
      <label>Created:</label>
      <span class="since">{{getCreatedSinceLabel()}}</span>
    </span>
    <span class="updated">
      <label>Updated:</label>
      <span class="since">{{getUpdatedSinceLabel()}}</span>
    </span>
    <span class="node">
      <label>Node:</label>
      <span>{{task.nodeID}}</span>
    </span>
    <span class="desired-state" >
      <label>Desired state:</label>
      <span>{{task.desiredState}}</span>
    </span>
    <span class="state" [hidden]="task.status == null">
      <label>State:</label>
      <span>{{task.status?.State}}</span>
    </span>
    <span class="message" [hidden]="task.status?.Message == null">
      <label>Message:</label>
      <span>{{task.status?.Message}}</span>
    </span>
    <span class="container"  [hidden]="task.status?.ContainerStatus == null">
      <label>Container:</label>
      <span>{{task.status?.ContainerStatus?.ContainerID}}</span>
    </span>
    <span class="image">
      <label>Image:</label>
      <app-docker-image-label [label]="task.spec.ContainerSpec?.Image"></app-docker-image-label>
    </span>
  </div>
</div>
