.service-list {
  .filter {
    margin: 1em;

    >* {
      display: inline-block;
      margin: .5em;
    }
  }

  .columns-filter {
    display: flex;
    align-items: center;

    >* {
      flex: 1 1 auto;
      margin: .3em;
    }
    .count {
      text-align: right;
    }
    .columns {
      > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
