<div class="service-list ui-widget">
  <app-service-filter name="filter"
                      [ngModel]="filter"
                      (ngModelChange)="onFilterChange($event)"
                      [stacks]="stacks | async"
  ></app-service-filter>

  <div class="columns-filter">
    <span class="columns">
      Columns:
      <p-multiSelect [options]="columnOptions" name="columns"
                     [(ngModel)]="columns">
      </p-multiSelect>
    </span>
    <span class="count" [hidden]="(services | async) == null">
      {{ (services|async)?.length }} services found
    </span>
  </div>

  <p-dataTable [value]="services | async"
               sortField="Name">
    <p-column *ngFor="let column of columns"
              [sortable]="true"
              [sortField]="getColumnField(column)"
              [field]="getColumnField(column)"
              [header]="getColumnLabel(column)">
      <ng-template let-col let-service="rowData" let-rowIndex="rowIndex" pTemplate="body">
        <app-docker-service-column [service]="service"
                                   [column]="column"
        ></app-docker-service-column>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
