.service-list {
  .filter {
    margin: 1em;

    >* {
      display: inline-block;
      margin: .5em;
    }
  }

  .columns-filter {
    display: flex;
    align-items: center;

    >* {
      flex: 0 0 auto;
      margin: .3em;
    }
  }
  .service-row {
    border: 1px solid black;
    border-radius: .3em;
    margin: .3em;
  }
}
