.icon {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 1em;
  border-radius: .5em;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);

  .inner-icon {
    position: absolute;
    z-index: 1;
    height: .5em;
    width: .5em;
    margin: .25em;
    border-radius: .25em;
    opacity: .9;
  }
}
