a.id:not([hidden]) {
  font-size: .9em;
  display: inline-block;
  opacity: .8;
  text-decoration: underline;

  &:not(.no-trim) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
