.labels {
  display: inline-block;

  .label {
    display: inline-block;
    margin: .3em;
  position: relative;

    .key {
      font-size: .8em;
      font-weight: 300;
    }
  }

  .tooltip {
    max-width: 10em;
  }
}
